@model ForumApp.Web.Models.Post.PostIndexModel

<h1>@Model.Title</h1>

<div>
    Author: @Model.AuthorName (@Model.AuthorRating)
    Created: @Model.Created
</div>

<div>
    @Model.PostContent
</div>

@if(Model.Replies.Any())
{
    foreach(var reply in Model.Replies)
    {
        <div>

            <div>       
                Reply Author: @reply.AuthorName 
                Reply Created: @reply.Created
            </div>

            <div>
                Reply: @reply.ReplyContent
            </div>

        </div>
    }
}